UnilifeClassesRoomsDiplomDesktop/Connected Services/UnilifeServiceReference/item47.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" />
  <xs:element name="LogInAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmLogInAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailkey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmLogInAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmLogInAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheakHashKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheakHashKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheakHashKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetAccountUserResult" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetAccountsResult" nillable="true" type="q3:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetUsersResult" nillable="true" type="q4:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetRolesResult" nillable="true" type="q5:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="acc" nillable="true" type="q6:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPowerRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPowerRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPowerRoleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetRoleResult" nillable="true" type="q7:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="acc" nillable="true" type="q8:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassesUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassesUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetClassesUserResult" nillable="true" type="q9:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksClassFalse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classId" type="xs:int" />
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksClassFalseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetTasksClassFalseResult" nillable="true" type="q10:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetTasksClassResult" nillable="true" type="q11:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="СheckingTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classId" type="xs:int" />
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="СheckingTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="СheckingTeacherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetAccountsClassResult" nillable="true" type="q12:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="_task" nillable="true" type="q13:Task" />
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTaskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetJobUserResult" nillable="true" type="q14:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetDivisionsResult" nillable="true" type="q15:ArrayOfDivision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="division" nillable="true" type="q16:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDivisionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="division" nillable="true" type="q17:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="messaage" nillable="true" type="q18:MessagesTask" />
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetMessagesResult" nillable="true" type="q19:ArrayOfMessagesTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetUsersClassResult" nillable="true" type="q20:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetAccountResult" nillable="true" type="q21:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetFileTaskResult" nillable="true" type="q22:ArrayOfFilesTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetLinksTaskResult" nillable="true" type="q23:ArrayOfLinksTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetFilesJobResult" nillable="true" type="q24:ArrayOfFilesJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetPostsResult" nillable="true" type="q25:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetSessionsAccountResult" nillable="true" type="q26:ArrayOfSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="post" nillable="true" type="q27:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="post" nillable="true" type="q28:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="session" nillable="true" type="q29:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="job" nillable="true" type="q30:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="user" nillable="true" type="q31:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="user" nillable="true" type="q32:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserToClassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetClassesResult" nillable="true" type="q33:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="class1" nillable="true" type="q34:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClassResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="class1" nillable="true" type="q35:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdClassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetClassAccountsResult" nillable="true" type="q36:ArrayOfClassAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountToClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="classAccount" nillable="true" type="q37:ClassAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountToClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccountToClassResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdAccountToClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="classAccount" nillable="true" type="q38:ClassAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdAccountToClassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAccountToClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="classAccount" nillable="true" type="q39:ClassAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAccountToClassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="divisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetDivisionResult" nillable="true" type="q40:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetPostResult" nillable="true" type="q41:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="GetJobResult" nillable="true" type="q42:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/UnilifeClassesRoomsDiplomServerDLL.ModelsDB" minOccurs="0" name="job" nillable="true" type="q43:Job" />
        <xs:element minOccurs="0" name="hashKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddJobResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>